<div class="font">


<!-- /.font -->
<app-header></app-header>
<header id="showcase" class="mb-5">
  <div class="showcase-content">
    <h1 class="largeText">
      Trust & Quality
    </h1>
    <p class="lead mediumText">
      Learning Today....Leading Tomorrow
    </p>
    <a class="btn btn-dark btn-lg heroBtn" href="#categories">Courses</a>
  </div>

</header>

<div class="container mb-5">
  <!--course categories-->
  <section id="categories" class="mb-5">
    <div class="row">
      <div class="col-md-4">
        <a href="#" (click)="techSoon()">
        <div class="card">
          <img class="card-img" src="../../assets/learning/images/new/90850.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-text text-center text-white mt-5">TECHNOLOGY</h3>
          </div>
        </div>
        </a>

      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <a href="#" (click)="farmSoon()">

        <div class="card">
          <img class="card-img" src="../../assets/learning/images/new/8160.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-text text-center text-white mt-5">FARMING</h3>
          </div>
        </div>
        </a>

      </div>

      <div class="col-md-4">
        <a href="#" (click)="bizSoon()">

        <div class="card">
          <img class="card-img" src="../../assets/learning/images/new/OGMT9J0.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-text text-center text-white mt-5">BUSINESS</h3>
          </div>
        </div>
        </a>

      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <a href="#" (click)="cvSoon()">

        <div class="card">
          <img class="card-img" src="../../assets/learning/images/new/4683.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-text text-center text-white mt-5">RESUME/CV BUILDING</h3>
          </div>
        </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="#" (click)="careerSoon()">

        <div class="card">
          <img class="card-img" src="../../assets/learning/images/new/14057.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-text text-center text-white mt-5">CAREER DEVELOPMENT</h3>
          </div>
        </div>
        </a>

      </div>

      <div class="col-md-4">
        <a href="#" (click)="grantSoon()">
          <div class="card">
            <img class="card-img" src="../../assets/learning/images/new/2092.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h3 class="card-text text-center text-white mt-5">WRITING A GRANT</h3>
            </div>
          </div>
        </a>


      </div>
    </div>
  </section>

  <!-- CONTACT-->
  <section id="blog-post">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4>Get In Touch</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>

              <h4>Address</h4>
              <p>Lorem ipsum dolor sit amet.</p>

              <h4>Email</h4>
              <p>akindiileteforex@gmail.com</p>

              <h4>Phone</h4>
              <p>+2348109330138</p>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h4>Please fill out this form to contact us</h4>
              <hr>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname" class="sr-only">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name" required>

                  </div>




                  <div class="form-group col-md-6">
                    <label for="lastname" class="sr-only">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>

                  </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="phonenumber" class="sr-only">Phone Number</label>
                    <input type="number" class="form-control" id="phonenumber" placeholder="Phone Number" required>

                  </div>




                  <div class="form-group col-md-6">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" required>

                  </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <textarea class="form-control" placeholder="Message" required></textarea>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-outline-danger btn-block contactBtn" type="submit" (click)="onSubmit()">Submit</button>
                  </div>

                </div>

              </form>

            </div>
          </div>
        </div>

      </div>

  </section>

  <!-- STAFF -->


</div>

<app-footer></app-footer>
</div>
