<app-header></app-header>
<div class="font">


  <section class="jobs mt-5">
    <div class="container">
      <div class="text-center">
        <h2>INTERNSHIP JOBS IN ALL COUNTRIES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
      </div>
      <div class="companies">
        <div class="company-list">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="company-logo">
                <img src="../../assets/job/google.png" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="company-content">
                <h3>IOS Developer<span class="full-time">Full Time</span></h3>
                <p><span class="company-name"><i class="fa fa-briefcase"></i>Google</span><span class="company-location"><i class="fa fa-map-marker"></i> 07th Avenue, Ibeju-Lekki Express way, Lagos Nigeria</span><span class="package"><i class="fa fa-money"></i>$22,000-$50,000</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="company-list">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="company-logo">
                <img src="../../assets/job/microsoft.png" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="company-content">
                <h3>Back-End developer<span class="part-time">Part Time</span></h3>
                <p><span class="company-name"><i class="fa fa-briefcase"></i>Microsoft</span><span class="company-location"><i class="fa fa-map-marker"></i> 7th Avenue, Kumaso, Cameroon</span><span class="package"><i class="fa fa-money"></i>$20,000-$52,000</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="company-list">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="company-logo">
                <img src="../../assets/job/apple.png" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="company-content">
                <h3>UI/UX Designer<span class="freelance">Freelance</span></h3>
                <p><span class="company-name"><i class="fa fa-briefcase"></i>Apple</span><span class="company-location"><i class="fa fa-map-marker"></i> 7th Avenue, Limpopo, South Africa</span><span class="package"><i class="fa fa-money"></i>$22,000-$50,000</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="company-list">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="company-logo">
                <img src="../../assets/job/wipro.png" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="company-content">
                <h3>IOS developer<span class="internship">Intership</span></h3>
                <p><span class="company-name"><i class="fa fa-briefcase"></i>Wipro</span><span class="company-location"><i class="fa fa-map-marker"></i> 8th Avenue, Accra, Ghana</span><span class="package"><i class="fa fa-money"></i>$24,000-$52,000</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="company-list">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="company-logo">
                <img src="../../assets/job/twitter.png" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="company-content">
                <h3>Marketing Holder<span class="full-time">Full Time</span></h3>
                <p><span class="company-name"><i class="fa fa-briefcase"></i>Twitter</span><span class="company-location"><i class="fa fa-map-marker"></i> 4th Avenue, Ikoyi, Lagos Nigeria</span><span class="package"><i class="fa fa-money"></i>$24,000-$48,000</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-slider" class="owl-carousel">
            <div class="testimonial">
              <div class="pic">
                <img src="../../assets/job/client-1.jpg" alt="">
              </div>
              <p class="description">
                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
              </p>
              <h3 class="testimonial-title">Akindiilete Michael</h3>
              <span class="post">Web Developer</span>
            </div>

            <div class="testimonial">
              <div class="pic">
                <img src="../../assets/job/client-2.jpg" alt="">
              </div>
              <p class="description">
                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
              </p>
              <h3 class="testimonial-title">Chioma Bankole</h3>
              <span class="post">Web Designer</span>
            </div>

            <div class="testimonial">
              <div class="pic">
                <img src="../../assets/job/client-3.jpg" alt="">
              </div>
              <p class="description">
                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
              </p>
              <h3 class="testimonial-title">Emeka David</h3>
              <span class="post">Nutritionist</span>
            </div>

            <div class="testimonial">
              <div class="pic">
                <img src="../../assets/job/client-4.jpg" alt="">
              </div>
              <p class="description">
                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
              </p>
              <h3 class="testimonial-title">Ibrahim Musa</h3>
              <span class="post">Agricultural Engineer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
          <h2>Want More Job & Latest Job? </h2>
          <p>Subscribe to our mailing list to receive an update when new Job arrive!</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type Your Email Address...">
            <span class="input-group-btn">
							<button type="button" class="btn btn-default" (click)="email()">subscribe!</button>
						</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<app-footer></app-footer>
